.dashboard-main {
  margin-inline-start: 0;
  margin-inline-end: 0;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  min-height: 100vh;
  transition: all 0.3s;
  @include media(xl) {
    margin-inline-start: rem(220px);
    margin-inline-end: rem(20px);
  }
  @include media(xxl) {
    margin-inline-start: rem(275px);
    margin-inline-end: rem(24px);
  }
  @include media(3xl) {
    margin-inline-start: rem(312px);
    margin-inline-end: rem(30px);
  }
  &-body {
    padding: rem(15px);
    @include media(xxl) {
      padding: rem(24px);
    }
  }
  &.active {
    margin-inline-start: rem(78px);
  }
}















